{{#if isEditing}}
    <form {{action "completeEdit" on="submit"}}>
      {{input value=text focus-out="completeEdit"}}
    </form>
{{else}}
    <label {{action "editEntry" on="doubleClick"}}>
        {{text}}
    </label>
{{/if}}
{{yield}}
